@font-face {
    font-family: sogand;
    src: url(../fonts/SOGAND.ttf);
}

@font-face {
    font-family: iransans;
    src: url(../fonts/IRANSans.ttf);
}


@tailwind base;
@tailwind components;
@tailwind utilities;